#cut{
    background-color:rgba(0,0,0,0.05);  
    border: #fff;
font-size: larger;
font-family: 'Open Sans','sans-serif';
}
#cul{    
     background-color:rgba(0,0,0,0.05);  
     font-family: 'Open Sans','sans-serif';
     alignment-adjust: central;
     text-align: center;
}
#col{    
     background-color:rgba(0,0,0,0.05);  
     font-family: 'Open Sans','sans-serif';
     alignment-adjust: central;
     text-align: center;
}
#cel{    
     background-color:rgba(0,0,0,0.05);  
     font-family: 'Open Sans','sans-serif';
     alignment-adjust: central;
     text-align: center;
}

#st{ 
    color: white;
    font-family: 'Open Sans','sans-serif';
    alignment-adjust: central;
}
#pt{ 
    color: white;
    font-family: 'Open Sans','sans-serif';
    alignment-adjust: central;
}


